@model HumanResourcesDepartment.Models.Employee

@{
    ViewBag.Title = "Details";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Информация о сотруднике</h3>
    </div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FullName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FullName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>

        </dl>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Изменить", "Edit", new { id = Model.ID }, new { @class = "btn btn-default" })
        @Html.ActionLink("Отмена", "Index", null, new { @class = "btn btn-default" })
    </div>
    </div>
